<!DOCTYPE html>
<head> 
    <title>Index Page</title>
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        ws.onopen = function() {
            console.log('Web socket Connection')
        }
        ws.onmessage = function(event) {
            console.log('Messaged recieved', event)
            const data = JSON.parse(event.data)
            if (data.msg != '')
            {document.querySelector('#chat-log').value += (data.user + ': ' + data.msg + '\n')}
        }
        ws.onerror = function(event) {
            console.log('Error Occur', event)
        }
        ws.close = function(event){
            console.log('connection closed', event)
        }

        // Sends data of user and message to server
        function sendMessage(){
            const messageInput = document.getElementById('chat-message-input')
            const message = messageInput.value
            const userName = document.getElementById('userName')
            const user = userName.value
            ws.send(JSON.stringify({
                    'msg' : message, 
                    'user' :user
                    }))
            messageInput.value = ''
            }

    </script>
</head>

<body>
    <div style="padding: 20px;">
        <h1>Group Chat</h1>
        <h2 id='dc'></h2>
        <textarea name="" id="chat-log" cols="100" rows="10" readonly></textarea><br/><br/><br/>
        <table>
            <tr>
                <td>User:</td>
                <td><input type="text" id="userName" style="margin-left: 20px;" size='89'><br/><br/></td>
            </tr>
            <tr>
                <td>Message:</td>
                <td><input type="text" id="chat-message-input" style="margin-left: 20px;" size='89'><br/><br/></td>
            </tr>
        </table>
        <input type="button" value="Send Message" id="chat-message-submit" style="padding:8px; margin-left: 720px;" onclick="sendMessage()">
    </div>
</body>

</html>